.container {
  padding-top: 2.5rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container ul {
  margin-left: -36px;
}

.container li {
  list-style: none;
  margin: 3rem auto;
  line-height: 35px;
}

.link:hover {
  color: #0070f3;
}